@use '../../styles/colors.scss' as c;

:root {
    --red: #{c.$dark-red};
    --pink: #{c.$dark-pink};
    --teal: #{c.$dark-teal};
    --blue: #{c.$dark-blue};
    --purple: #{c.$dark-purple};
}

@media (prefers-color-scheme: dark) {
  :root {
    --red: #{c.$light-red};
    --pink: #{c.$light-pink};
    --teal: #{c.$light-teal};
    --blue: #{c.$light-blue};
    --purple: #{c.$light-purple};
  }
}

.ui-scale {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 32px;
    justify-content: center;
    align-items: center;

    --accent-color: var(--teal);
    
    .label,
    svg {
        color: var(--accent-color);
    }

    .slider {
        width: 100%;
        accent-color: var(--accent-color);
    }
}


.scale--red {
    --accent-color: var(--red);
}

.scale--pink {
    --accent-color: var(--pink);
}

.scale--teal {
    --accent-color: var(--teal);
}

.scale--blue {
    --accent-color: var(--blue);
}

.scale--purple {
    --accent-color: var(--purple);
}