@use '../../styles/colors.scss' as c;

:root {
    --grey: #{c.$light-grey};
}

@media (prefers-color-scheme: dark) {
    :root {
        --grey: #{c.$dark-grey};
    }
}

.ui-card {
    background-color: var(--grey);
    width: 100%;
    padding: 16px 12px;
    border-radius: 5px;
    margin-bottom: 12px;
}