@use '../../styles/colors.scss' as c;

:root {
    --red: #{c.$dark-red};
    --blue: #{c.$dark-blue};
}

@media (prefers-color-scheme: dark) {
  :root {
    --red: #{c.$light-red};
    --blue: #{c.$light-blue};
  }
}

.ui-form-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    margin-bottom: 12px;
}

.label {
    margin-bottom: 6px;
}

.label,
.helper,
.error {
    margin-left: 5px;
}

.control {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0;
}

.error,
.helper {
    display: flex;
    gap: 5px;
    align-items: center;
}

.error-icon {
    color: var(--red);
}

.helper-icon {
    color: var(--blue);
}