@use '../../styles/colors.scss' as c;

:root {
  --background: #{c.$white};
  --foreground: #{c.$black};
  --grey: #{c.$light-grey};
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #{c.$black};
    --foreground: #{c.$white};
    --grey: #{c.$dark-grey};
  }
}

.ui-textarea {
    font-family: 'Inter', Helvetica, sans-serif;
    background-color: var(--background);
    color: var(--foreground);
    border: 2px solid var(--grey);
    border-radius: 5px;
    padding: 4px 10px;
    width: 100%;

    &:focus {
        outline: none;
    }
}