@use '../../styles/colors.scss' as c;

:root {
    --background: #{c.$white};
    --foreground: #{c.$black};
    --grey: #{c.$light-grey};
    --button-pink: #{c.$dark-pink};
    --button-teal: #{c.$dark-teal};
    --button-purple: #{c.$dark-purple};
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #{c.$black};
    --foreground: #{c.$white};
    --grey: #{c.$dark-grey};
    --button-pink: #{c.$light-pink};
    --button-teal: #{c.$light-teal};
    --button-purple: #{c.$light-purple};
  }
}

.pink {
    --button-color: var(--button-pink);
}

.teal {
    --button-color: var(--button-teal);
}

.purple {
    --button-color: var(--button-purple);
}

.ui-button {
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: none;
    border-radius: 5px;
    font-weight: 500;

    &:hover {
        cursor: pointer;
        background-color: var(--grey);
    }

    &:focus {
        background-color: var(--grey);
        color: var(--button-color);
    }
}

.icon-start {
    flex-direction: row;
}

.icon-end {
    flex-direction: row-reverse;
}

.primary {
    background-color: var(--button-color);
    border: 2px var(--button-color) solid;
    color: var(--background);
}

.secondary {
    background-color: var(--background);
    border: 2px var(--button-color) solid;
    color: var(--button-color);
}

.tertiary {
    background: none;
    border: none;
    color: var(--button-color);
}