.ui-feelings-container {
    display: flex;
    height: 15vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

    .emoji {
        width: auto;
        flex-direction: row;
        gap: 6px;
    }

    .ui-card {
        align-items: stretch;
    }
}