$black: #0f0f0f;
$white: #ededed;
$dark-grey: #1f1f1f;
$light-grey: #d1d1d1;
$dark-pink: #E91E63;
$light-pink: #FFB6C1;
$dark-purple: #8E44AD;
$light-purple: #D1B3FF;
$dark-teal: #0f8a56;
$light-teal: #64ffaa;
$dark-blue: #0e4f91;
$light-blue: #6cc3f5;
$dark-red: rgb(163, 19, 3);
$light-red: #FF6B6B;