$black: #0f0f0f;
$white: #ededed;
$dark-grey: #1f1f1f;
$light-grey: #e2e2e2;
$dark-pink: #E91E63;
$light-pink: #FFB6C1;
$dark-purple: #8E44AD;
$light-purple: #D1B3FF;
$dark-teal: #008080;
$light-teal: #64FFDA;